.weather-container {
    height: 40em;
    width: 25em;
    border-radius: 20px;
    margin: 30px auto;
    background: rgba(74, 144, 226, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* background: rgb(7, 2, 82);
    background: linear-gradient(27deg, rgba(7, 2, 82, 1) 1%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%); */
}

.search-bar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.search-bar input {
    background: transparent;
    height: 45px;
    width: 15rem;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: 0;
    color: #fff;
    margin: 10px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
}

.search-bar input::placeholder {
    color: #fff;
    letter-spacing: 2px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 40px;
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
}

.search-icon img {
    height: 15px;
    width: 15px;
    padding: 0 15px;
    
}

.weather-icon{
    display: flex;
    justify-content: center;
}
.weather-icon img{
    height: 200px;
    width: 200px;
}

.temp{
    display: flex;
    justify-content: center;
    font-size: 90px;
    margin-top: 12px;
    margin-bottom: -10px;
}

.city-name{
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.description{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 30px;
    text-transform: capitalize;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.element{
    display: flex;
}

.element .data{
    margin: 0 6px;
}

.element img{
    height: 35px;
}

.element .percent{
    font-size: 22px;
}

.element u{
   margin-top: 3px; 
}